/* loading.css */

.pokemon-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeball {
  width: 80px;
  height: 80px;
  background: url('src/assets/pokeball.svg') no-repeat center;
  background-size: contain;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
