/* Style for Type.jsx */

.SameType-container{
    max-width: 800px;  
}
.SameType-Tittle{
    font-size: 26px;
    padding-bottom: 40px;
}

.SameType-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.SameType-face {
    background-color: rgb(234, 241, 248);
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin: 1px;
    border-radius: 10px;
    padding: 20px;
}

.SameType-name {
    text-transform: capitalize;
    margin: 0;
}

@media screen and (min-width: 768px) {

    .SameType-section {
        max-width: calc(10 * (80px + 10px));
    }
}