/* SameTypeStyle.css */
/* style for Type.jsx */

.SameType-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.SameType-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.SameType-Tittle {
    padding-top: 5px;
}

.SameType-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.SameType-face {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.SameType-face:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SameType-item-nr {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.SameType-img {
    text-align: center;
}

.SameType-img img {
    width: 80px;
    height: auto;
}

.SameType-name {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.SameType-types {
    font-style: italic;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .SameType-face {
        border: 1px solid #ccc;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 8px;
    }

    .SameType-container img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
}