/* Style for TypeCard.jsx */

.type-container{
  max-width: 800px;
}

.types-Tittle{
    color: #333;
    text-align: left;
    font-size: 26px;
    padding-bottom: 30px;
    padding-top: 20px;;
  }

.type-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
  }
  
.type-box {
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(241, 237, 237);
    align-items: center;
    justify-content: flex-start;
    width: 125px;
    margin: 5px;
    border-radius: 7%;
  }

.type-name {
    text-transform: capitalize;
    font-size: 12px;
    margin-left: 10px;
  }
