/* style for TypeCard.jsx */

.type-container{
  max-width: 800px;
}

.types-Tittle {
  color: #333;
  text-align: left;
  font-size: 26px;
  padding-bottom: 20px;
  padding-top: 20px;;
}

.type-grid {
  display: flex; 
  flex-wrap: nowrap; 
  gap: 5px;
}

.type-box {
  display: flex; 
  background-color: transparent;
  align-items: center; 
  justify-content: center; 
  padding: 5px;
}

.type-name {
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;
}
